<!DOCTYPE html>
<html lang="en-us">

    <head>
        <title>DemoDRA - Current Weather</title>

        <link rel="stylesheet" href="/built/css/default.css" />

        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-route/angular-route.js"></script>
        <script src="/js/controllers.js"></script>
    </head>

    <body>
        <div float="left">
            <% include includes/mainbody %>
        </div>
        <div id="map" style="width:80%; height:80%"></div>
    </body>

    <script>
         angular.element(document).ready(function() {
            angular.bootstrap(document, ['ConsoleModule']);
        });
    </script>
	<script>
		var map;
		var start= {lat: -37.7833, lng: 175.2793};
		var marker;
		var city1 = 'Hamilton, Nz';
		var geocoder = new google.maps.Geocoder();
		function initMap() {
			<!--Initalise Map-->
			map = new google.maps.Map(document.getElementById('map'), {
				center: start,
				zoom: 8
			});
			geocoder.geocode({
				'city1': city1
			}, function(results, status){
				if(status == google.maps.GeocoderStatus.OK){
					var lat = results[0].geometry.location.lat();
					var lng = results[0].geometry.location.lng();
					var mylatlng = {lat, lng};
					var marker1 = new google.maps.Marker({position: pos});
					marker1.setMap(map);
				}
				else{
					alert("you fucked up " + status);
				}
			});
		}
			

	</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCI46l5ThhLsy8cali5JprGNsn6PPoY_y0&callback=initMap"
	async defer></script>
</html>