<!DOCTYPE html>
<html lang="en-us">

    <head>
        <title>DemoDRA - Current Weather</title>

        <link rel="stylesheet" href="/built/css/default.css" />

        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-route/angular-route.js"></script>
        <script src="/js/controllers.js"></script>
    </head>

    <body>
        <div float="left">
            <% include includes/mainbody %>
        </div>
        <div id="map" style="width:80%; height:80%"></div>
    </body>

    <script>
         angular.element(document).ready(function() {
            angular.bootstrap(document, ['ConsoleModule']);
        });
    </script>
	<script>
		var map;
		var start= {lat: -37.7833, lng: 175.2793};
		var marker;
		var address = 'Hamilton, Nz';
		var geocoder;
		function initMap() {
			<!--Initalise Map-->
			geocoder = new google.maps.Geocoder();
			map = new google.maps.Map(document.getElementById('map'), {
				center: start,
				zoom: 8
			});
			var marker = new google.maps.Marker({map:map, position: start});
			geocoder.geocode({'address': address}, 
				function(results, status){
					if(status == "OK"){
						var marker1 = new google.maps.Marker({
							position: results[0].geometry.location
							});
						marker1.setMap(map);
					}
					else{
						alert("you fucked up " + status);
					}
				});
		}
			

	</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnJ9OEwgOQxJmSUHCmoHmuDTLMe6-nxZc&callback=initMap"
	async defer></script>
</html>